.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  border: red;

  background: linear-gradient(
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
  );
  .navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 10%;
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
  }
  .Login-btn {
    color: black;
    cursor: pointer;

  }
}
.header-list {
  display: flex;
  /* justify-content: space-between; */
  height: 60px;
  font-size: medium;
  padding: 10px;
  background-color: rgb(12, 12, 12);
  color: #f2f2f2;
  cursor: pointer;
  font-style: 18px;
}
.header-list p {
  margin-left: 25%;
  padding-left: 10px;
}
.header-lis .log-out{
padding: 0px;
}

form{
  background-color: rgb(61 247 107 / 36%);
  padding: 0px 60px;
  border-radius: 10px;
  
}


h2 {
  text-align: center;
}
h1{
  color: rgb(77, 1, 77);
  text-align: center;
}
h6{
  font-size: 12px;
  color: gray;
}
.btn{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-style: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
.Table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.Table table {
  width: 40%;
  border-collapse: separate;
  border-spacing:0 25px; /* Adjust the spacing value as needed */
  border: 1px solid #ddd;
}

.Table th,
.Table td {
  padding: 8px;
  text-align: left;
}

.Table th {
  background-color: #f2f2f2;
}


.Table tbody tr:hover {
  background-color: #f5f5f5;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 30px;
}
.card {
display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
    padding: 16px;
    margin: 20px;
    box-shadow: 5px 5px 10px gray;
    align-items: center;
    justify-content: center;
    align-content: center;
  padding: 16px;
  border-radius: 5px;
  flex-direction: column;
  /* border: 1px solid gray; */
}

.card img {
  width: 200px;
  height: 300px;
  object-fit: contain;
  /* border: 1px solid black; */
}

.card p{
  margin: 0px;
}
.cart-page{
  width: 250px;
  padding: 16px;
  border-radius: 5px;
}
.cart-page img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.card2{
  width: 250px;
  padding: 16px;
  border-radius: 5px;
  /* border: 1px solid gray; */
}

.card2 img {
  width: 200px;
  height: 300px;
  object-fit: contain;
  /* border: 1px solid black; */
}








.cart-page {
  display: grid;
  align-content: stretch;
  justify-content: end;
  align-content: stretch;
  justify-content: stretch;
}

.cart-page img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.checkout img{
  width: 100%;
}
.checkout p{
  padding-left: 10%;
  text-align: left;
}

.add-to-cart-btn 
{
  background-color: #399c00;
  margin-right: 0px;
          color: #ffffff;
          padding: 10px;
          border-radius: 4px;
          border: none;
          cursor: pointer;
}
.remove-from-cart-btn{
  background-color: #d80700;
  margin-right: 40px;
          color: #ffffff;
          padding: 10px;
          border-radius: 4px;
          border: none;
          cursor: pointer;
}
.add-to-cart-btn1
{
  background-color: #1b8800;
  margin-right: 40px;
          color: #ffffff;
          padding: 4%;
          border-radius: 4px;
          border: none;
          cursor: pointer;
}
.add-to-cart-btn2
{
  background-color: #1b8800;
  margin-right: 40px;
          color: #ffffff;
          padding: 4%;
          border-radius: 1px;
          border: none;
          cursor: pointer;
}


.Price {
  background-color: #f5f5f5;
          color: #333333;
          padding: 10px;
          font-weight: bold;
          font-size: large;
          border-radius: 4px;
          justify-content: center;
          display: flex;
          object-fit: contain;
}

.myDiv1{
  height:65px;
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 20% 150px;
  border-radius: 10px;
}

.btn8{
  height: 65px;
  width: 9%;
  background-color: #33d4fc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn5{
  height: 65px;
  width: 100%;
  background-color: #33d4fc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.hero {
  position: relative;
}

.card3-img {
  width: 100%;
  object-fit: fill;
  height: 400%;
  width: 100%;
}

.card3-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  text-align: center;
}

.card3-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* .Home {
  margin-top: 20px;
} */


.appDialog{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  text-align: center;
  background-color: #14131391;
}

.appDialog .window{
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 5px;
  
}
.appDialog .window .header{
  display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: 91%;
    height: 7%;
    padding: 2px 24px;
    color: black;
    flex-wrap: wrap;
    align-content: stretch;
}


.appDialog{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  text-align: center;
  background-color: #14131391;
}

.appDialog .window1{
  overflow: auto;
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 5px;
  
}
.appDialog .window1 .header1{
  position: fixed;
  background-color: #1b8800;
  display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: 375px;
    height: 2%;
    padding: 15px 10px 10px 15px;
    color: black;
    flex-wrap: wrap;
    align-content: stretch;
}









.propop{
  display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 85%;
    height: 500vh;
    padding: 100px 20px;
    color: #141313;
    flex-wrap: wrap;
    align-content: space-around;
    /* justify-content: space-between; */
}
.appDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: flex-end; */
  width: 50%;
  height: 49vh;
  /* padding: 2px 24px; */
  padding-top: 20px;
  padding-left:100px;
  padding-right: 100px;
  color: black;
  flex-wrap: wrap;
  align-content: stretch;

}
.appDetails img{
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 4px;
}
.appDetails-img-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.appDetails .remove-from-cart-btn{
  background-color:red;
  padding: 5px 10px;
  margin-right: 150px;
  margin-left: 5px;
  margin-bottom: -25px;
}


.product-list-container {
  max-height: 1000px;

}